@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  position: relative;
}
body header h1 a {
  font-size: 7vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  color: #b68877;
  text-shadow: #585454 3px 3px 3px;
  padding: 20px 10px;
}
@media screen and (max-width: 800px) {
  body header h1 a {
    font-size: 15vw;
  }
}
body .col-4 {
  background-color: #b68877;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
body .col-4 .collapsible {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
}
body .col-4 .collapsible:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
body .col-4 .collapsible h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  body .col-4 .collapsible h3 h3 {
    font-size: 8vw;
  }
}
body .col-4 .collapsible .active {
  background-color: #ccc;
}
body .col-4 .content {
  position: absolute;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
body .col-4 .content .text {
  padding: 10px 50px 50px;
  text-align: center;
}
body .col-4 .content .text h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding: 20px;
  text-align: center;
  -webkit-text-decoration: underline solid 2px;
          text-decoration: underline solid 2px;
  -webkit-text-decoration-color: #b68877;
          text-decoration-color: #b68877;
}
body .col-4 .content .text p {
  padding: 10px;
}
@media screen and (max-width: 800px) {
  body .col-4 .content .text {
    padding: 0;
  }
  body .col-4 .content .text h3 {
    font-size: 6vw;
  }
}
body .col-4 .hvad-er-traumer {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
body .col-4 .hvad-er-traumer:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
body .col-4 .hvad-er-traumer h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding: 20px;
}
body .col-4 .hvad-er-traumer .active {
  background-color: #ccc;
}
body .col-4 .collapsible {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
body .col-4 .collapsible:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
body .col-4 .collapsible h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding: 20px;
}
body .col-4 .collapsible .active {
  background-color: #ccc;
}
body .col-4 .content {
  position: absolute;
  left: 0;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
body .col-4 .content h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding: 20px;
  text-align: center;
  -webkit-text-decoration: underline solid 2px;
          text-decoration: underline solid 2px;
  -webkit-text-decoration-color: #b68877;
          text-decoration-color: #b68877;
}
body .col-4 .collapsible {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
body .col-4 .collapsible:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
body .col-4 .collapsible h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding: 20px;
}
body .col-4 .collapsible .active {
  background-color: #ccc;
}
@media screen and (max-width: 800px) {
  body .col-4 {
    display: block;
    padding: 20px;
  }
  body .col-4 .collapsible h3 {
    font-size: 5vw;
  }
  body .col-4 .hvad-er-traumer h3 {
    font-size: 5vw;
  }
  body .col-4 .content {
    z-index: 1;
  }
  body .col-4 .content h3 {
    font-size: 5vw;
  }
}/*# sourceMappingURL=header.css.map */