* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap");

// COLORMODS

$baggrund: #f5f3ef;
$baggrund2: rgba(185, 185, 185, 0.055);

// MIXINS

@mixin links {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}

@mixin title {
  font-size: 7vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}

@mixin page-title {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}

@mixin subtitle {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-decoration: underline 1px;
}

@mixin p {
  padding: 20px;
}

body {
  position: relative;
  background-color: $baggrund;

  header {
    text-align: center;
    // background-color: $farve;
    h1 {
      position: relative;
      a {
        @include title;
        padding: 20px 10px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    header {
      h1 {
        a {
          font-size: 15vw;
        }
      }
    }
  }

  .col-4 {
    background-color: $baggrund2;
    display: grid;
    grid-template-columns: auto auto auto auto;

    .collapsible {
      position: relative;
      background: none;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      outline: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.753);
        transition: 1s;
      }

      h3 {
        @include page-title;

        @media screen and (max-width: 800px) {
          h3 {
            font-size: 8vw;
          }
        }
      }

      .active {
        background-color: #ccc;
      }
    }

    .content {
      position: absolute;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      .text {
        padding: 10px 50px 50px;
        text-align: center;
        h3 {
          @include page-title;
          text-align: center;
          text-decoration: underline solid 2px;
        }

        p {
          padding: 10px;
        }
      }

      @media screen and (max-width: 800px) {
        .text {
          padding: 0;
          h3 {
            font-size: 6vw;
          }
        }
      }
    }

    .hvad-er-traumer {
      position: relative;
      background: none;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 15px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.753);
        transition: 1s;
      }

      h3 {
        @include page-title;
      }

      .active {
        background-color: #ccc;
      }
    }

    .collapsible {
      position: relative;
      background: none;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 15px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.753);
        transition: 1s;
      }

      h3 {
        @include page-title;
      }

      .active {
        background-color: #ccc;
      }
    }
    .content {
      position: absolute;
      left: 0;
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: $baggrund;

      h3 {
        @include page-title;
        text-align: center;
        text-decoration: underline solid 2px;
      }
    }

    .collapsible {
      position: relative;
      background: none;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 15px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.753);
        transition: 1s;
      }

      h3 {
        @include page-title;

        // .underline--stars {
        //   background-image:
        //   background-position: 0 1.06em;
        //   background-size: 10px 9px;
        // }
        // .underline {
        //   background-repeat: repeat-x;
        // }
      }

      .active {
        background-color: #ccc;
      }
    }
  }

  // MEDIAQUERIES

  @media screen and (max-width: 800px) {
    .col-4 {
      display: block;
      padding: 20px;

      .collapsible {
        h3 {
          font-size: 5vw;
        }
      }

      .content {
        z-index: 5;
        h3 {
          font-size: 5vw;
        }
      }

      .hvad-er-traumer {
        h3 {
          font-size: 5vw;
        }
      }
    }
  }
}
