@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body {
  max-width: 1630px;
}
html body .container {
  background-color: #f5f3ef;
}
html body .container header h1 {
  font-size: 7vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  color: #b68877;
  text-shadow: #585454 3px 3px 3px;
  padding: 20px 10px;
}
@media screen and (max-width: 800px) {
  html body .container header h1 {
    font-size: 15vw;
  }
}
html body .container .col-4 {
  background-color: #b68877;
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* Style the button that is used to open and close the collapsible content */
}
html body .container .col-4 .collapsible1 {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
html body .container .col-4 .collapsible1:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .container .col-4 .collapsible1 h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding-bottom: 20px;
}
html body .container .col-4 .collapsible1 .active {
  background-color: #ccc;
}
html body .container .col-4 .content1 {
  position: absolute;
  left: 0;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
html body .container .col-4 .collapsible2 {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
html body .container .col-4 .collapsible2:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .container .col-4 .collapsible2 h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding-bottom: 20px;
}
html body .container .col-4 .collapsible2 .active {
  background-color: #ccc;
}
html body .container .col-4 .content2 {
  position: absolute;
  left: 0;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
html body .container .col-4 .collapsible3 {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
html body .container .col-4 .collapsible3:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .container .col-4 .collapsible3 h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding-bottom: 20px;
}
html body .container .col-4 .collapsible3 .active {
  background-color: #ccc;
}
html body .container .col-4 .content3 {
  position: absolute;
  left: 0;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
html body .container .col-4 .collapsible4 {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
html body .container .col-4 .collapsible4:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .container .col-4 .collapsible4 h3 {
  font-size: 2.5vw;
  font-family: "Caveat", cursive;
  font-weight: 200;
  padding-bottom: 20px;
}
html body .container .col-4 .collapsible4 .active {
  background-color: #ccc;
}
html body .container .col-4 p {
  padding: 20px;
}
@media screen and (max-width: 800px) {
  html body .container .col-4 {
    display: block;
    padding: 20px;
  }
  html body .container .col-4 .collapsible1 h3 {
    font-size: 6vw;
  }
  html body .container .col-4 .collapsible2 h3 {
    font-size: 6vw;
  }
  html body .container .col-4 .collapsible3 h3 {
    font-size: 6vw;
  }
  html body .container .col-4 .collapsible4 h3 {
    font-size: 6vw;
  }
  html body .container .col-4 .content1 {
    z-index: 1;
  }
  html body .container .col-4 .content2 {
    z-index: 2;
  }
  html body .container .col-4 .content3 {
    z-index: 3;
  }
}
@media screen and (max-width: 800px) {
  html body .container h1 {
    font-size: 6vw;
    text-shadow: #585454 1px 1px 1px;
  }
}/*# sourceMappingURL=main.css.map */