* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// COLORMODS

$links: rgba(146, 110, 110, 0.867);

@mixin links {
  font-size: 22px;
  color: black;
  text-decoration: none;
}

body {
  max-width: 1630px;
  header {
    background-color: grey;
    h1 {
      font-size: 5vw;
    }
    nav {
      position: relative;
      background-color: rgb(250, 249, 249);
      height: 12vh;

      a {
        img {
          position: absolute;
          width: 84px;
        }
      }

      ul {
        display: flex;
        position: relative;
        top: 22px;
        float: right;
        margin: 0 30px;
        li {
          list-style-type: none;
          a {
            @include links;
            padding: 15px 60px;

            &:hover {
              background-color: rgb(112, 125, 139);
            }
          }
        }
      }
    }
  }
}

header {
  background-color: darkseagreen;
  h1 {
    font-size: 5vw;
  }
}
