* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap");

// COLORMODS

$baggrund: #f5f3ef;
$baggrund2: rgba(102, 102, 102, 0.178);

// MIXINS

@mixin links {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}

@mixin title {
  font-size: 7vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}

@mixin page-title {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  background-color: $baggrund2;
}

@mixin subtitle {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-decoration: underline 1px;
}

@mixin p {
  padding: 20px;
}

html {
  scroll-behavior: smooth;

  body {
    max-width: 1630px;

    .container {
      .title {
        h3 {
          @include page-title;
          text-align: center;
        }

        @media screen and (max-width: 800px) {
          h3 {
            font-size: 5vw;
          }
        }
      }

      // TRAUMER-KNAP //

      .button-five {
        .collapsible {
          position: relative;
          background: none;
          cursor: pointer;
          padding: 10px;
          width: 100%;
          border: none;
          outline: none;
          &:hover {
            background-color: rgb(255, 255, 255);
            transition: 1s;
          }

          &:after {
            // position: absolute;
            // top: 10%;
            // right: 25%;
            content: "\002B";
            font-size: 35px;
            font-weight: bold;
            margin: 20px;
          }

          @media screen and (max-width: 800px) {
            &:after {
              font-size: 20px;
              font-weight: lighter;
              margin: 0;
            }
          }

          h3 {
            @include subtitle;
          }

          @media screen and (max-width: 800px) {
            h3 {
              font-size: 4vw;
            }
          }
        }

        .active {
          background-color: #ccc;
          &:after {
            content: "\2212";
          }
        }

        .content {
          padding: 0 18px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          background-color: #f1f1f1;
          figure {
            display: grid;
            grid-template-columns: auto auto;
            img {
              width: 90%;
            }
            figcaption {
              padding: 70px;
              h4 {
                @include page-title;
                font-size: 30px;
                padding: 0 0 20px 0;
              }
            }
          }
          @media screen and (max-width: 800px) {
            figure {
              display: grid;
              grid-template-columns: auto;

              figcaption {
                padding: 0;
              }
            }
          }
        }
      }

      // SYMPTOMER PÅ TRAUMER-KNAP //

      .button-six {
        .collapsible {
          @include links;
          position: relative;
          background: none;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          outline: none;

          &:hover {
            background-color: rgb(255, 255, 255);
            transition: 1s;
          }

          &:after {
            // position: absolute;
            // top: 10%;
            // right: 25.4%;
            content: "\002B";
            font-size: 35px;
            font-weight: bold;
            margin: 20px;
          }

          @media screen and (max-width: 800px) {
            &:after {
              font-size: 20px;
              font-weight: lighter;
              margin: 0;
            }
          }

          h3 {
            @include subtitle;
            text-align: center;
          }
          @media screen and (max-width: 800px) {
            h3 {
              font-size: 4vw;
            }
          }
        }

        .active {
          background-color: #ccc;
          &:after {
            content: "\2212";
          }
        }

        .content {
          width: 100%;
          padding: 18px 0;
          max-height: 0;
          // background-color: $baggrund2;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          z-index: 5;

          h3 {
            @include subtitle;
            text-decoration: none;
          }

          h4 {
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            padding: 20px;
          }

          // SYMPTOM-KNAPPER //

          .traumecollapsible {
            @include links;
            font-size: 1.5vw;
            position: relative;
            background: none;
            cursor: pointer;
            padding: 18px 0;
            width: 100%;
            border: none;
            outline: none;

            &:hover {
              background-color: rgba(255, 255, 255, 0.753);

              transition: 1s;
            }

            h3 {
              @include links;
              font-size: 1.5vw;
            }

            @media screen and (max-width: 800px) {
              h3 {
                font-size: 4vw;
              }
            }
          }
          .active {
            background-color: #ccc;
          }

          .content {
            width: 100%;
            position: absolute;
            left: 0;
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;

            h3 {
              @include page-title;
              text-align: center;
            }

            p {
              @include p;
            }
          }
        }
      }
    }
  }
}
