@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body {
  max-width: 1630px;
}
html body .container .title h3 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  background-color: rgba(102, 102, 102, 0.178);
  text-align: center;
}
@media screen and (max-width: 800px) {
  html body .container .title h3 {
    font-size: 5vw;
  }
}
html body .container .button-five .collapsible {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}
html body .container .button-five .collapsible:hover {
  background-color: white;
  transition: 1s;
}
html body .container .button-five .collapsible:after {
  content: "+";
  font-size: 35px;
  font-weight: bold;
  margin: 20px;
}
@media screen and (max-width: 800px) {
  html body .container .button-five .collapsible:after {
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
  }
}
html body .container .button-five .collapsible h3 {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}
@media screen and (max-width: 800px) {
  html body .container .button-five .collapsible h3 {
    font-size: 4vw;
  }
}
html body .container .button-five .active {
  background-color: #ccc;
}
html body .container .button-five .active:after {
  content: "−";
}
html body .container .button-five .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
html body .container .button-five .content figure {
  display: grid;
  grid-template-columns: auto auto;
}
html body .container .button-five .content figure img {
  width: 90%;
}
html body .container .button-five .content figure figcaption {
  padding: 70px;
}
html body .container .button-five .content figure figcaption h4 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  background-color: rgba(102, 102, 102, 0.178);
  font-size: 30px;
  padding: 0 0 20px 0;
}
@media screen and (max-width: 800px) {
  html body .container .button-five .content figure {
    display: grid;
    grid-template-columns: auto;
  }
  html body .container .button-five .content figure figcaption {
    padding: 0;
  }
}
html body .container .button-six .collapsible {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
}
html body .container .button-six .collapsible:hover {
  background-color: white;
  transition: 1s;
}
html body .container .button-six .collapsible:after {
  content: "+";
  font-size: 35px;
  font-weight: bold;
  margin: 20px;
}
@media screen and (max-width: 800px) {
  html body .container .button-six .collapsible:after {
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
  }
}
html body .container .button-six .collapsible h3 {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  html body .container .button-six .collapsible h3 {
    font-size: 4vw;
  }
}
html body .container .button-six .active {
  background-color: #ccc;
}
html body .container .button-six .active:after {
  content: "−";
}
html body .container .button-six .content {
  width: 100%;
  padding: 18px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  z-index: 5;
}
html body .container .button-six .content h3 {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-decoration: none;
}
html body .container .button-six .content h4 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
html body .container .button-six .content .traumecollapsible {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  outline: none;
}
html body .container .button-six .content .traumecollapsible:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .container .button-six .content .traumecollapsible h3 {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
}
@media screen and (max-width: 800px) {
  html body .container .button-six .content .traumecollapsible h3 {
    font-size: 4vw;
  }
}
html body .container .button-six .content .active {
  background-color: #ccc;
}
html body .container .button-six .content .content {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
html body .container .button-six .content .content h3 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  background-color: rgba(102, 102, 102, 0.178);
  text-align: center;
}
html body .container .button-six .content .content p {
  padding: 20px;
  text-align: center;
  padding: 40px 200px;
}
@media screen and (max-width: 800px) {
  html body .container .button-six .content .content p {
    padding: 10px 0;
  }
}/*# sourceMappingURL=traumer.css.map */