* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap");

// COLORMODS

$baggrund: #f5f3ef;
$baggrund2: rgba(102, 102, 102, 0.178);

// MIXINS

@mixin links {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}

@mixin title {
  font-size: 7vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}

@mixin page-title {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}

@mixin subtitle {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}

@mixin p {
  padding: 20px;
}

.container {
  max-width: 1920px;
  margin: auto;

  header {
    h1 {
      text-align: center;
      .logo {
        position: absolute;
        top: 30px;
        right: 150px;
        padding: 0;
        margin: 0;
      }
      img {
        width: 30%;
      }
    }
    h3 {
      text-align: center;
    }
  }

  .cards {
    .shoppingcards {
      display: grid;
      grid-template-columns: auto auto auto auto;
      .card {
        padding-bottom: 30px;
        max-width: 300px;
        margin: 60px;
        text-align: center;
        gap: 40px;

        img {
          width: 80%;
          padding: 20px;
        }

        h2 {
          @include links;
          font-weight: 300;
        }

        .price {
          @include links;
          font-size: 22px;
          font-weight: 300;
        }

        p {
          @include links;
          font-weight: 300;
          padding: 10px;
        }
      }
    }

    @media screen and (max-width: 800px) {
      .shoppingcards {
        display: grid;
        grid-template-columns: auto auto;
        .card {
          max-width: 100px;
          margin: auto;
          padding: 0;
          text-align: center;
          gap: 20px;
          font-size: 15px;
        }

        .card img {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
}
