* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap");

// COLORMODS

$baggrund: #f5f3ef;
$baggrund2: rgba(185, 185, 185, 0.055);

// MIXINS

@mixin links {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}

@mixin title {
  font-size: 7vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}

@mixin page-title {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}

@mixin subtitle {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}

@mixin p {
  padding: 20px;
}

body {
  position: relative;
  background-color: $baggrund;

  .col-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;

    // HVAD ER NORDIC CHI? //

    .button-one {
      .collapsible {
        position: relative;
        background: none;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        outline: none;

        &:hover {
          background-color: rgba(255, 255, 255, 0.753);
          transition: 1s;
        }

        h3 {
          .underline--stars {
            background-image: url(/images/brush.png);
            background-position: 0 1.4em;
            background-size: 25.5vw 5px;
            @include page-title;
          }

          .underline {
            background-repeat: no-repeat;
          }
        }

        @media screen and (max-width: 800px) {
          h3 {
            .underline--stars {
              background-image: url(/images/brush.png);
              background-position: 0 1.7em;
              background-size: 52vw 3px;
              @include page-title;
              font-size: 5vw;
            }

            .underline {
              background-repeat: no-repeat;
            }
          }
        }

        .active {
          background-color: #ccc;
        }
      }

      .content {
        position: absolute;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: $baggrund;

        .text {
          padding: 10px 50px 50px;
          text-align: center;
          h3 {
            @include page-title;
            text-align: center;
          }

          p {
            padding: 0;
          }
        }

        @media screen and (max-width: 800px) {
          .text {
            padding: 20px 0;
            h3 {
              font-size: 6vw;
            }

            p {
              padding: 10px;
            }
          }
        }
      }
    }

    // HVAD ER TRAUMER //

    .hvad-er-traumer {
      position: relative;
      background: none;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 15px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.753);
        transition: 1s;
      }

      h3 {
        .underline--stars {
          background-image: url(/images/brush.png);
          background-position: 0 1.4em;
          background-size: 23vw 5px;
          @include page-title;
        }

        .underline {
          background-repeat: no-repeat;
        }
      }

      @media screen and (max-width: 800px) {
        h3 {
          .underline--stars {
            background-image: url(/images/brush.png);
            background-position: 0 1.7em;
            background-size: 46vw 3px;
            @include page-title;
            font-size: 5vw;
          }

          .underline {
            background-repeat: no-repeat;
          }
        }
      }

      .active {
        background-color: #ccc;
      }
    }

    // OM MIG //

    .button-three {
      .collapsible {
        position: relative;
        background: none;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 15px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.753);
          transition: 1s;
        }

        h3 {
          .underline--stars {
            background-image: url(/images/brush.png);
            background-position: 0 1.4em;
            background-size: 10.5vw 5px;
            @include page-title;
          }

          .underline {
            background-repeat: no-repeat;
          }
        }

        @media screen and (max-width: 800px) {
          h3 {
            .underline--stars {
              background-image: url(/images/brush.png);
              background-position: 0 1.7em;
              background-size: 22vw 3px;
              @include page-title;
              font-size: 5vw;
            }

            .underline {
              background-repeat: no-repeat;
            }
          }
        }

        .active {
          background-color: #ccc;
        }
      }
      .content {
        position: absolute;
        left: 0;
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: $baggrund;

        h3 {
          @include page-title;
          text-align: center;
          font-size: 5vw;
        }
      }
    }

    // WEBSHOP //

    .button-four {
      .collapsible {
        position: relative;
        background: none;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 15px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.753);
          transition: 1s;
        }

        h3 {
          .underline--stars {
            background-image: url(/images/brush.png);
            background-position: 0 1.4em;
            background-size: 13vw 5px;
            @include page-title;
          }

          .underline {
            background-repeat: no-repeat;
          }
        }

        @media screen and (max-width: 800px) {
          h3 {
            .underline--stars {
              background-image: url(/images/brush.png);
              background-position: 0 1.7em;
              background-size: 26vw 3px;
              @include page-title;
              font-size: 5vw;
            }

            .underline {
              background-repeat: no-repeat;
            }
          }
        }

        .active {
          background-color: #ccc;
        }
      }
    }
  }

  // MEDIAQUERIES

  @media screen and (max-width: 800px) {
    .col-4 {
      display: block;
      padding: 20px;

      .collapsible {
        h3 {
          font-size: 5vw;
        }
      }

      .content {
        z-index: 5;
        h3 {
          font-size: 5vw;
        }
      }

      .hvad-er-traumer {
        h3 {
          font-size: 5vw;
        }
      }
    }
  }
}
