@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body .traumer-container {
  max-width: 1920px;
  margin: auto;
}
html body .traumer-container header {
  text-align: center;
  position: relative;
}
html body .traumer-container header h1 {
  margin-bottom: 0;
  position: relative;
  padding: 50px 0 0 0;
}
html body .traumer-container header h1 a {
  font-size: 7vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
}
html body .traumer-container header h3 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  padding: 0;
  margin-top: 0;
  font-size: 40px;
}
@media screen and (max-width: 800px) {
  html body .traumer-container header h3 {
    font-size: 5vw;
  }
}
html body .traumer-container .logobjaelke {
  text-align: center;
}
html body .traumer-container .logobjaelke img {
  width: 20vw;
  z-index: -5;
}
html body .traumer-container .button-five .collapsible {
  position: relative;
  background: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}
html body .traumer-container .button-five .collapsible h3 {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-five .collapsible h3 {
    font-size: 4vw;
  }
}
html body .traumer-container .button-five .collapsible:hover {
  background-color: white;
  transition: 1s;
}
html body .traumer-container .button-five .collapsible:after {
  content: "+";
  font-size: 35px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.37);
  margin: 20px;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-five .collapsible:after {
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
  }
}
html body .traumer-container .button-five .active:after {
  content: "−";
}
html body .traumer-container .button-five .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
html body .traumer-container .button-five .content figure {
  display: grid;
  grid-template-columns: auto auto;
}
html body .traumer-container .button-five .content figure img {
  width: 90%;
  padding: 0 40px;
}
html body .traumer-container .button-five .content figure figcaption {
  padding: 90px 40px;
  text-align: center;
}
html body .traumer-container .button-five .content figure figcaption h4 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  font-size: 30px;
  padding: 0 0 20px 0;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-five .content figure {
    display: grid;
    grid-template-columns: auto;
  }
  html body .traumer-container .button-five .content figure figcaption {
    padding: 0;
  }
}
html body .traumer-container .button-six .collapsible {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
}
html body .traumer-container .button-six .collapsible h3 {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .collapsible h3 {
    font-size: 4vw;
  }
}
html body .traumer-container .button-six .collapsible:hover {
  background-color: white;
  transition: 1s;
}
html body .traumer-container .button-six .collapsible:after {
  content: "+";
  font-size: 35px;
  color: rgba(0, 0, 0, 0.37);
  font-weight: 300;
  margin: 20px;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .collapsible:after {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }
}
html body .traumer-container .button-six .active:after {
  content: "−";
}
html body .traumer-container .button-six .content {
  width: 100%;
  padding: 18px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  z-index: 5;
}
html body .traumer-container .button-six .content h3 {
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-decoration: none;
}
html body .traumer-container .button-six .content h4 {
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
html body .traumer-container .button-six .content .item-one .traumecollapsible {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  outline: none;
}
html body .traumer-container .button-six .content .item-one .traumecollapsible:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .traumer-container .button-six .content .item-one .traumecollapsible h3 .underline--stars {
  background-image: url(/images/brush.png);
  background-position: 0 1.7em;
  background-size: 18vw 5px;
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}
html body .traumer-container .button-six .content .item-one .traumecollapsible h3 .underline {
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .content .item-one .traumecollapsible h3 .underline--stars {
    background-image: url(/images/brush.png);
    background-position: 0 1.7em;
    background-size: 270px 3px;
    font-size: 5vw;
  }
  html body .traumer-container .button-six .content .item-one .traumecollapsible h3 .underline {
    background-repeat: no-repeat;
  }
}
html body .traumer-container .button-six .content .item-one .content {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
html body .traumer-container .button-six .content .item-one .content h3 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
html body .traumer-container .button-six .content .item-one .content p {
  text-align: center;
  padding: 40px 200px;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .content .item-one .content p {
    padding: 10px 0;
  }
}
html body .traumer-container .button-six .content .item-two .traumecollapsible {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  outline: none;
}
html body .traumer-container .button-six .content .item-two .traumecollapsible:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .traumer-container .button-six .content .item-two .traumecollapsible h3 .underline--stars {
  background-image: url(/images/brush.png);
  background-position: 0 1.7em;
  background-size: 19vw 5px;
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}
html body .traumer-container .button-six .content .item-two .traumecollapsible h3 .underline {
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .content .item-two .traumecollapsible h3 .underline--stars {
    background-image: url(/images/brush.png);
    background-position: 0 1.7em;
    background-size: 270px 3px;
    font-size: 5vw;
  }
  html body .traumer-container .button-six .content .item-two .traumecollapsible h3 .underline {
    background-repeat: no-repeat;
  }
}
html body .traumer-container .button-six .content .item-two .content {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
html body .traumer-container .button-six .content .item-two .content h3 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
html body .traumer-container .button-six .content .item-two .content p {
  text-align: center;
  padding: 40px 200px;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .content .item-two .content p {
    padding: 10px 0;
  }
}
html body .traumer-container .button-six .content .item-three .traumecollapsible {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  outline: none;
}
html body .traumer-container .button-six .content .item-three .traumecollapsible:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .traumer-container .button-six .content .item-three .traumecollapsible h3 .underline--stars {
  background-image: url(/images/brush.png);
  background-position: 0 1.7em;
  background-size: 29.5vw 5px;
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}
html body .traumer-container .button-six .content .item-three .traumecollapsible h3 .underline {
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .content .item-three .traumecollapsible h3 .underline--stars {
    background-image: url(/images/brush.png);
    background-position: 0 1.7em;
    background-size: 270px 3px;
    font-size: 5vw;
  }
  html body .traumer-container .button-six .content .item-three .traumecollapsible h3 .underline {
    background-repeat: no-repeat;
  }
}
html body .traumer-container .button-six .content .item-three .content {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
html body .traumer-container .button-six .content .item-three .content h3 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
html body .traumer-container .button-six .content .item-three .content p {
  text-align: center;
  padding: 40px 200px;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .content .item-three .content p {
    padding: 10px 0;
  }
}
html body .traumer-container .button-six .content .item-four .traumecollapsible {
  color: black;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
  position: relative;
  background: none;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  outline: none;
}
html body .traumer-container .button-six .content .item-four .traumecollapsible:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: 1s;
}
html body .traumer-container .button-six .content .item-four .traumecollapsible h3 .underline--stars {
  background-image: url(/images/brush.png);
  background-position: 0 1.7em;
  background-size: 47vw 5px;
  font-size: 2vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
}
html body .traumer-container .button-six .content .item-four .traumecollapsible h3 .underline {
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .content .item-four .traumecollapsible h3 .underline--stars {
    background-image: url(/images/brush.png);
    background-position: 0 1.7em;
    background-size: 270px 3px;
    font-size: 5vw;
  }
  html body .traumer-container .button-six .content .item-four .traumecollapsible h3 .underline {
    background-repeat: no-repeat;
  }
}
html body .traumer-container .button-six .content .item-four .content {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
html body .traumer-container .button-six .content .item-four .content h3 {
  font-size: 2.5vw;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
html body .traumer-container .button-six .content .item-four .content p {
  text-align: center;
  padding: 40px 200px;
}
@media screen and (max-width: 800px) {
  html body .traumer-container .button-six .content .item-four .content p {
    padding: 10px 0;
  }
}/*# sourceMappingURL=traumer.css.map */