.cards {
  .shoppingcards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    .card {
      padding-bottom: 30px;
      max-width: 300px;
      margin: 60px;
      text-align: center;
      font-family: arial;
      gap: 40px;

      img {
        width: 50%;
        padding: 20px;
      }

      .price {
        color: grey;
        font-size: 22px;
      }

      p {
        padding: 10px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .card {
      max-width: 100px;
      margin: 0px;
      padding: 0;
      text-align: center;
      font-family: arial;
      gap: 20px;
      font-size: 15px;
    }

    .card img {
      width: 100%;
      padding: 10px;
    }
  }
}
